body,
html {
  margin: 0;
  height: 100%;
  background: rgb(104, 255, 104);
}
.wrapper {
  width: 70%;
  height: 90%;
  margin: 0;
}
.container {
  width: 90%;
  height: 100%;
  background: skyblue;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 7px;
  display: block;
  position: center;
  padding: 20px;
}
h1 {
  font-family: cursive;
  color: black;
  font-size: 25px;
  text-align: center;
}
h3 {
  text-align: center;
  display: block;
  font-family: cursive;
  font-size: 20px;
  color: blueviolet;
  font-weight: bolder;
  margin-top: 0px;
}
h2,
p {
  font-weight: bolder;
  font: black;
  font-family: cursive;
  text-align: center;
}
#cityinput {
  margin: 30px 25px 25px 25px;
  padding: 5px 20px 2px 20px;

  font-weight: bolder;
  font: black;
  font-family: cursive;
}
#add {
  border-color: rgb(0, 0, 0);
  border-width: 5px;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  display: block;
  font-weight: bolder;
  font: black;
  font-family: cursive;
  margin-top: 15px;
}

input {
  border-color: rgb(0, 0, 0);
  border-width: 5px;
  width: 100px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  font-weight: bolder;
  font: solid black;
  font-family: cursive;

  background-color: violet;
  float: left;
}

h4 {
  text-align: center;
  display: block;
  font-family: cursive;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  margin-top: 0px;
}

strong {
  font-size: 25px;
  text-align: center;
  color: blueviolet;
  font-family: cursive;
  margin-bottom: 0 auto;
}
#current-location-button {
  border-color: rgb(0, 0, 0);
  border-width: 5px;
  width: 130px;
  height: 35px;
  border-radius: 20px;
  margin: 20px 20px 10px 360px;
  display: block;
  font-weight: bolder;
  font: black;
  font-family: cursive;
}

