body,
html {
  margin: 0;
  height: 100%;
  background: rgb(104, 255, 104);
  font-family: cursive;
}
.wrapper {
  width: 70%;
  height: 90%;
  margin: 0;
}
.container {
  width: 90%;
  height: 75%;
  background: skyblue;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 7px;
  display: block;
  position: center;
  padding: 20px;
}
h1 {
  
  color: black;
  font-size: 25px;
  text-align: left;
}
h3 {
  text-align: center;
  display: flex;
 
  font-size: 20px;
  color: blueviolet;
  font-weight: bolder;
  margin-top: 100px;
}
#text {
  display: flex;
  margin-right: 50px;
}
 

.col-9 {
  width: 200px;
  height: 10px;
  display: flex;
  margin-right: 50px;
  color: blueviolet; 
   margin-bottom: 100px;
    font-size: 15px;
}
.col-3{
    width: 100px;
  height: 100px;
 margin-bottom: 0 auto; 
 display: flex;
}
.col-6 {
  font-size: 15px;
  color: blueviolet;
  
  
  display: block;
}
.row {
  font-size: 15px;
  color: blueviolet;
 margin: 0 auto;
 text-align: center;
 
}
h4 {
  text-align: center;
  font-weight: bolder;
  color: bold black;
  background-color: violet;
   display: block;
   font-size: 25px;
}

a {
  text-align: center;
  display: flex;
  font-family: cursive;
  font-size: 15px;
  color: blue;
  margin-right: 350px;
}

strong {
  font-size: 25px;
  text-align: right;
  color: blueviolet;
  
  margin-bottom: 0px;
}
.form-control {
  width: 150px;
  height: 25px;
margin-bottom: 0px;
   display: block;
}
.btn {
   width: 150px;
   height: 25px;
margin-top: 3px;
   display: block;
}