body,
html {
  margin: 0;
  height: 100%;
  background: rgb(104, 255, 104);
  font-family: cursive;
}
.wrapper {
  width: 70%;
  height: 90%;
  margin: 0;
}
.container {
  max-width: 60%;
  max-height: 75%;
  background: skyblue;
  border-color: black;
  border-radius: 25px;
  border-style: solid;
  border-width: 7px;
   
  position: center;
  padding: 20px;
  margin-top: 50px;
}
#city {
  font-size: 55px;
  text-align: center;
  font-weight: bolder;
  
  background-color: violet;
   display: block;
 
 
city {in-left: 200px;
  color: dark2lateblue;
  
}
 


.col-{
    width: 100px;
  height: 100px;
 margin-bottom: 0 auto; 
 display: flex;
}
.col- {
  font-size: 15px;
  color: blueviolet;
  
  
  display: block;
}
.row {
  font-size: 15px;
  color: blueviolet;
 margin-left: 475px;
 margin-bottom: 275px;
 
}
h4 {
  text-align: center;
  font-weight: bolder;
  color: bold black;
  background-color: violet;
   display: block;
   font-size: 25px;
   
}

small {
  text-align: right;
  float: right;
  font-family: cursive;
  font-size: 15px;
  color: blue;
 display: flex;
}

strong {
  font-size: 25px;
  text-align: center;
  color: blueviolet;
  display: flex;
  margin-bottom: 0px;
}
.form-control {
  width: 150px;
  height: 25px;
margin-bottom: 0px;
   display: flex;
}
.btn {
  position: 25px;
   width: 150px;
   height: 25px;
margin-top: 3px;
   display: block;
   float: right;
}